/* Menu Background Image */
.o_web_client.o_home_menu_background{
    background-image: var(--homeMenu-bg-none, radial-gradient(at 100% 0%, rgba(59, 44, 63, 0.6) 0px, transparent 50%), radial-gradient(at 7% 13%, rgb(119 114 126 / 0%) 0px, transparent 50%), radial-gradient(at 96% 94%, rgb(117 111 123 / 0%) 0px, transparent 50%), radial-gradient(at 3% 96%, rgb(59 44 63 / 0%) 0px, transparent 50%), url(/hsr_warp/static/description/star_rail_background.png)) !important;
}

/* FLoat images to the right */
.image_bg_float{
    float: right !important;
}

/* Extend Form View to full page width */
.o_form_view .o_form_renderer{
    max-width: 100%;
}
.o_form_view .o_form_sheet_bg{
    max-width: 2000px;
    margin-inline: auto;
}

/* Tree view decoration */
.text-warning {
    --color: RGBA(213, 188, 50, var(--text-opacity, 1));
    color: var(--color) !important;
}
.text-primary {
    --color: RGBA(179, 85, 192, var(--text-opacity, 1));
    color: var(--color) !important;
}
.fw-bold {
    font-weight: 700 !important;
}

/* Hover tree view, disable text color change */
.table-hover > tbody > tr:hover > * {
    color: unset;
}

/* Image resize classes */
.o_field_attachment_image.hsr_img_180 {
    --hsr-img-max: 180px
}

.o_field_attachment_image.hsr_tree_img {
    --hsr-img-max: 70px
}

.o_field_attachment_image.hsr_portrait_max {
    --hsr-img-max: 1917px
}

img.image_resize {
    max-block-size: var(--hsr-img-max);
}
